@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Raleway&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #edeae5;
}

a {
  text-decoration: none;
  color: #00535c;
}

* {
  box-sizing: border-box;
}

p {
  color: black;
}

h1 {
  color: #026670;
}

h2 {
  color: #00535c;
}

h3 {
  color: #026670;
}

nav {
  color: #00535c;
}
